<?xml version="1.0" encoding="UTF-8"?>
<package>
	
	<controller id="english" prefix="en">
		
		<route url="/">
			<page>index</page>
			<methods>any</methods>
			<map>index_en</map>
		</route>
		
		<route url="login-form">
			<page>login-form-modal</page>
			<methods>any</methods>
			<map>login_en</map>
		</route>
		
		<route url="register-form">
			<page>register-form-modal</page>
			<methods>any</methods>
			<map>register_en</map>
		</route>
		
		<route url="contact">
			<page>contact</page>
			<methods>any</methods>
			<map>contact_en</map>
		</route>
	
	</controller>
	
	<controller id="spanish" prefix="es">
		
		<route url="/">
			<page>index</page>
			<methods>any</methods>
			<map>index_es</map>
		</route>
		
		<route url="login">
			<page>login-form-modal</page>
			<methods>any</methods>
			<map>login_es</map>
		</route>
		
		<route url="registrarse">
			<page>register-form-modal</page>
			<methods>any</methods>
			<map>register_es</map>
		</route>
		
		<route url="contacto">
			<page>contact</page>
			<methods>any</methods>
			<map>contact_es</map>
		</route>
	
	</controller>
	
</package>